# ========================================
# KKS
# ========================================
.Ref/
.geminiRef/
GEMINI.md

# ========================================
# 공통 무시 항목 (OS, 편집기 등)
# ========================================
.DS_Store
Thumbs.db
*~
*.log
*.bak
*.swp
HELP.md
.vscode/
.cursor/

# ========================================
# Java 관련 무시 항목
# ========================================
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*
*.ctxt
.mtj.tmp/

target/
.gradle/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.project
.classpath
.factorypath
.settings/
bin/
.metadata/

# STS
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle
build/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# ========================================
# Gemini 참고 폴더 제외
# ========================================
.Ref/


# ========================================
# key
# ========================================
04_JavaWeb/250731_JavaWeb/jQuery_Ajax_open_api_JSON/Google_Map/구글_지도_api키.txt
05_SpringFramework/250813_aws-s3-upload/src/main/resources/aws.properties
06_SpringBoot\250822_SpringBoot\club-7-4_24_3_16\club\src\main\resources\application-oauth.properties
application-secure.properties


# ========================================
# 팀프로젝트 결과물 폴더 제외
# ========================================
03_1stProject/결과물/
07_2ndProject/결과물/
10_3rdProject/결과물/
